.menuButton {

    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr repeat();
    grid-template-areas: 
        "pic text";
    border-radius: 15px;
    background-color: transparent;
    color: #D6DEEB;
    width: 90%;
    padding:0px;
    cursor: pointer; 

    .menuButtonImg {

        height: 60%;
        aspect-ratio: 1 / 1;
        background-color: transparent;
        grid-area: pic;
        align-self: center;
        justify-self: center;

    }

    p {

        grid-area: text;

    }

}

.menuButton:hover {

    background-color: #80A4C2 ;
    transition: 0.5s;

}