.users {

    width: 85vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-area: 
        "title"
        "cards";

    .usersTitle {

        grid-template-areas: title;
        justify-self: center;
        align-self: center;
        color:#C792EA;

    }

    .usersCards {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-template-areas: cards;
    overflow-y: scroll;

    }

}