.sideNav {

    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a {

        width:100%;
        text-decoration: none;

    }

}

.logo {

    color: 	#F78C6C;

}

